body {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    margin: 0;
    background: white;
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 10px;
}

header {
    background: #547031;
    border-bottom: 2px solid black;
    position: fixed;
	top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header__container {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos {
    width: 70px;
    height: 70px;
}

.logo-cart {
    width: 50px;
    height: 40px;
}

.logo-cart:hover {
    border-bottom: .1rem solid var(--main-color);
	padding-bottom: .5rem;
}

.navbar-item {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.navbar-item:hover {
    color: rgb(175, 162, 162);
}

.burger-menu {
    display: none;
    cursor: pointer;
    
    
    transform: translate(-50%, -50%);
}

@media (max-width:560px) {
    .burger-menu {
        display: inline-block;
        margin-top: 30px;
    }
    .navbar {
        display: none;
    }
    .cart {
        display: none;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
.change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  /* End header */

.home {
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin-top: 80px;
    padding-bottom: 20px;
}

.home-items {
    padding-top: 300px;
    padding-bottom: 40px;
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
}

.home-items p {
    margin-bottom: 40px;
}

.button {
    margin-top: 20px;
}

.btn {
    background: green;
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    color: white;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 5, 0.2);
}

.btn:hover {
    background: rgb(3, 97, 3);
}

.title {
    text-align: center;
    color: green;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}

.about-block {
    display: flex;
    align-items: center;
    background: #30411c;
}

.about-img {
    margin-right: 20px;
}


@media (max-width:1460px) {
    .about-img img {
        width:100%;
        height:auto;
}
    .about-block {
        display: block;
        justify-content: space-between;
    }
}


.about-text {
    text-align: center;
    color: white;
}

.about-text-title {
    margin-bottom: 20px;
    font-size: 25px;
}

.box-container {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1.5rem;
}

.box:hover {
    background: #eaece8;
}

.box {
    border: 2px solid black;
    text-align: center;
    padding-bottom: 20px;
    color: green;
}

.box-img {
    width: 300px;
    height: 300px;
}

.price {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.price span {
    font-size: 1.5rem;
	text-decoration: line-through;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(231, 231, 231);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: space-around;
  }

  .comment-text {
    text-align: center;
    word-break: break-all;
  }

  .contact-box {
    display: flex;
    justify-content: space-between;
    background: rgb(233, 233, 233);
  }

  @media (max-width:565px) {
    .contact-box {
        display: block;
    }
  }

  .map {
    width: 100%;
    height: 400px;
  }

  form {
    width: 100%;
    height: auto;
    text-align: center;
  }

  form .btn {
    border: 0;
  }

  .inputBox input {
    width: 19rem;
    height: 1.9rem;
    margin-bottom: 20px;
  }

  footer {
    background: #547031;
  }

  .share {
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
  }

  .share a {
    margin-right: 150px;
    color: white;
  }










  





